  <%= form_tag path, method: :get, class: "mb-4" do %>
        <div class="row g-3">
          <div class="col-12">
            <h5>Select Columns to Display:</h5>
          </div>
 

          <% @column_groups.each_with_index do |group, index| %>
            <div class="col-md-3">
              <% group.each do |column| %>
                <div class="form-check">
                  <%= check_box_tag "columns[#{column}]", '1', params.dig(:columns, column) || params[:columns].nil?, class: 'form-check-input' %>
                  <%= label_tag "columns[#{column}]", column.titleize, class: 'form-check-label' %>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if params[:search_column].present? %>
            <% params[:search_column].each_with_index do |column, index| %>
              <%= hidden_field_tag "search_column[]", column %>
              <% if @search_term.present? %>
                <%= hidden_field_tag "search_term[]", @search_term[index] %>
              <% end %>
              <% if @exclude_term.present? %>
                <%= hidden_field_tag "exclude_term[]", @exclude_term[index] %>
              <% end %>
              <% if @exclude_empty.present? %>
                <% value = @exclude_empty.permit!.to_h[index.to_s] %>
                <%= hidden_field_tag "exclude_empty[#{index}]", value %>
              <% end %>
              <% if @prevent_duplicates.present? %>
                <% value = @prevent_duplicates.permit!.to_h[index.to_s] %>
                <%= hidden_field_tag "prevent_duplicates[#{index}]", value %>
              <% end %>
            <% end %>
          <% end %>

          <div class="col-12">
            <%= submit_tag 'Update View', class: 'btn btn-primary' %>
            <%= link_to 'Reset', masters_path, class: 'btn btn-secondary ms-2' %>
            <%= button_tag 'Deselect All', type: 'button', class: 'btn btn-outline-secondary ms-2', 
                onclick: "document.querySelectorAll('input[type=checkbox]').forEach(cb => cb.checked = false);" %>
          </div>
        </div>
      <% end %>