<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Masters", masters_path, class: "nav-link active", aria: { current: "page" } %>
        </li>
        <li class="nav-item">
         <%= link_to "New Master File", excel_import_new_masters_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Authentication
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if logged_in? %>
              <li><%= button_to t("logout"), logout_path, method: :delete, class: "dropdown-item" %></li>
            <% else %>
              <li><%= button_to t("login"), login_user_path, method: :get, class: "dropdown-item" %></li>
              <li><%= link_to t("signup"), new_user_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<%= render "shared_partials/notice" %>
<div class="container">
  <%= yield %>
</div>

<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-white">About Us</h5>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-md-4">
        <h5 class="text-white">Quick Links</h5>
        <ul class="list-unstyled text-muted">
          <li><a href="#" class="text-decoration-none text-muted">Home</a></li>
          <li><a href="#" class="text-decoration-none text-muted">About</a></li>
          <li><a href="#" class="text-decoration-none text-muted">Services</a></li>
          <li><a href="#" class="text-decoration-none text-muted">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-white">Contact Info</h5>
        <ul class="list-unstyled text-muted">
          <li>123 Street Name</li>
          <li>City, Country</li>
          <li>Phone: (123) 456-7890</li>
          <li>Email: info@example.com</li>
        </ul>
      </div>
    </div>
    <hr class="text-secondary">
    <div class="row">
      <div class="col text-center text-muted">
        <p class="mb-0">&copy; <%= Time.current.year %> Your Company Name. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
