<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h4><%= t("reset_password") %></h4>
            <%= form_with(url: update_password_reset_path(params[:token]), local: true, method: :patch, class: "pt-3") do |form| %>
            <div class="form-group">
              <%= form.label t("password"), class: "form-label" %>
              <%= form.password_field :password, class: "form-control form-control-lg" %>
            </div>
            <div class="mt-3">
              <%= form.submit t("reset_password"), class: "btn btn-primary btn-lg font-weight-medium auth-form-btn" %>
            </div>
          <% end %>
          <div class="mt-3">
            <%= link_to t("back_to_login"), login_user_path, class: "text-decoration-none" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
