<h1><%= t("confirmation_instructions")%></h1>
<p><%= t("dear") %> <%= @user.name %>,</p>
<p><%= t("welcome_to_globex")%></p>
<p><%= t("click_below_to_confirm_email")%></p>
<p><%= link_to t("confirm_email"), @url %></p>
