<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t("reset_password")%></h1>
    <p><%= t("hi")%> <%= @user.name %>,</p>
    <p>
     <%= t("some_requested_password_reset")%>
    </p>
    <p>
      <%= link_to t("reset_my_password"), @url %>
    </p>
    <p>
      <%= t("if_link_doesnt_work")%>
    </p>
    <p>
      <%= @url %>
    </p>
    <p><%= t("thanks")%><br/><%= t("globex_team")%></p>
  </body>
</html>
