<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2><%= template.new_record? ? "New Template" : "Edit Template" %></h2>
        </div>
        <div class="card-body">
          <%= form_with(model: template, local: true) do |f| %>
            <%= render "shared_partials/error", model: template %>

            <div class="mb-3">
              <%= f.label :name, "Template Name", class: "form-label" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :meta_template_name, "Meta Template Name", class: "form-label" %>
              <%= f.text_field :meta_template_name, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :language, class: "form-label" %>
              <%= f.select :language, 
                  options_for_select([
                    ['English', 'en'], 
                    ['Arabic', 'ar'],
                  ]), 
                  { prompt: 'Select Language' }, 
                  { class: "form-select" } 
              %>
            </div>

            <div class="mb-3">
              <%= f.label :component, class: "form-label" %>
              <%= f.text_field :component, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.submit class: "btn btn-primary" %>
              <%= link_to "Cancel", templates_path, class: "btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
