<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3 class="mb-0">Masters Data</h3>
      <h5>COUNT <%= @count%> </h5>
    </div>
    <div class="card-body">
      <%= button_to 'Export to Excel', export_masters_path(format: :xlsx), method: :get, params: { columns: params[:columns]&.to_unsafe_h, search_column: params[:search_column], search_term: params[:search_term] }, class: 'btn btn-success mb-3' %>
      <div class="table-responsive">
        <% @column_groups = [
          ['file_name', 'date', 'name', 'mobile', 'nationality', 'procedure', 'procedure_name', 'amount', 'area_name'],
      ['combine', 'master_project', 'project', 'plot_pre_reg_num', 'building_num', 'building_name', 'size', 'unit_number', 'dm_num'],
      ['dm_sub_num', 'property_type', 'land_number', 'land_sub_num', 'phone', 'secondary_mobile_number', 'id_number', 'uae_id', 'passport_expiry_date'],
      ['birthdate', 'unified_num', 'email', 'extra_info_1', 'extra_info_2', 'extra_info_3']
    ] %>

    <%= render 'shared_partials/column_select', path: masters_path %>
    <%= render 'shared_partials/column_search', path: masters_path %>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <% selected_columns = @column_groups.flatten.select { |column| params.dig(:columns, column) == '1' || params[:columns].nil? } %>
              <% selected_columns.each do |column| %>
                <th><%= column.titleize %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @masters.each do |master| %>
              <tr>
                <% selected_columns.each do |column| %>
                  <td><%= master.send(column) %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @masters %>
      </div>
    </div>
  </div>
</div>
