<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3 class="mb-0">Masters Data</h3>
      <h5>Total Count <%= @count%> </h5>
      <h5>Currently Selected Count <%= @selected_masters_count%> </h5>
    </div>
    <div class="card-body">

      <%= form_tag export_masters_path(format: :xlsx), method: :get do %>
        <% if @columns.present? %>
          <% @columns.each do |column, value| %>
            <%= hidden_field_tag "columns[#{column}]", value %>
          <% end %>
        <% end %>
        
        <% if @search_column.present? %>
          <% @search_column.each_with_index do |column, index| %>
            <%= hidden_field_tag "search_column[]", column %>
            <%= hidden_field_tag "search_term[]", @search_term[index] %>
            <%= hidden_field_tag "exclude_term[]", @exclude_term[index] %>
            <%= hidden_field_tag "exclude_empty[]", @exclude_empty[index] %>
          <% end %>
        <% end %>
        
        <%= submit_tag 'Export to Excel', class: 'btn btn-success mb-3' %>
      <% end %>
      
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createSegmentModal">
        Create Segment
      </button>

     

      <div class="table-responsive">
        <% @column_groups = [
          ['file_name', 'date', 'name', 'mobile', 'nationality', 'procedure', 'procedure_name', 'amount', 'area_name'],
      ['combine', 'master_project', 'project', 'plot_pre_reg_num', 'building_num', 'building_name', 'size', 'unit_number', 'dm_num'],
      ['dm_sub_num', 'property_type', 'land_number', 'land_sub_num', 'phone', 'secondary_mobile_number', 'id_number', 'uae_id', 'passport_expiry_date'],
      ['birthdate', 'unified_num', 'email', 'extra_info_1', 'extra_info_2', 'extra_info_3']
    ] %>

    <%= render 'shared_partials/column_select', path: masters_path %>
    <%= render 'shared_partials/column_search', path: masters_path %>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <% selected_columns = @column_groups.flatten.select { |column| params.dig(:columns, column) == '1' || params[:columns].nil? } %>
              <% selected_columns.each do |column| %>
                <th><%= column.titleize %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @masters.each do |master| %>
              <tr>
                <% selected_columns.each do |column| %>
                  <td><%= master.send(column) %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @masters %>
      </div>
    </div>
  </div>
</div>


 <!-- create segment modal -->
<div class="modal fade" id="createSegmentModal" tabindex="-1" aria-labelledby="createSegmentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createSegmentModalLabel">Create New Segment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: create_segment_masters_path, local: true, method: :post do |f| %>
          <%= hidden_field_tag 'columns', params[:columns]&.to_unsafe_h %>
          <% if params[:search_column].present? %>
            <% params[:search_column].each_with_index do |column, index| %>
              <%= hidden_field_tag 'search_column[]', column %>
              <%= hidden_field_tag 'search_term[]', params[:search_term][index] if params[:search_term][index].present? %>
              <% if params[:exclude_term].present? %>
                <%= hidden_field_tag 'exclude_term[]', params[:exclude_term][index] %>
              <% end %>
              <% if params[:exclude_empty].present? %>
                <%= hidden_field_tag 'exclude_empty[]', params[:exclude_empty][index] %>
              <% end %>
            <% end %>
          <% end %>
          <div class="mb-3">
            <%= f.label :name, "Segment Name", class: "form-label" %>
            <%= f.text_field :name, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.label :description, "Description", class: "form-label" %>
            <%= f.text_area :description, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.label :split_entries, "Split Entries Into", class: "form-label" %>
            <%= f.number_field :split_entries, class: "form-control", min: 1, required: true %>
          </div>
          <%= f.hidden_field :table_type_id, value: 1 %>
          <%= f.hidden_field :table_id, value: 1 %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= f.submit "Create Segment", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
