 <%= form_with(model: [@chatbot, @chatbot_step, chatbot_button_reply], local: true) do |f| %>
    <%= render "shared_partials/error", model: chatbot_button_reply %>
    <div class="mb-3">
        <%= f.label :title, class: "form-label" %> <span class="text-danger">Max 24 characters</span>
        <%= f.text_field :title, class: "form-control", required: true, maxlength: 24 %>
    </div>

    <div class="mb-3">
        <%= f.label :order, class: "form-label" %>
        <%= f.number_field :order, class: "form-control", required: true, min: 1 %>
    </div>

    <div class="mb-3">
        <%= f.label :action_type_id, class: "form-label" %>
        <%= f.select :action_type_id,
                    ChatbotButtonReply.action_type_ids.map { |k, v| [k.humanize, v, { selected: v == ChatbotButtonReply.action_type_ids[chatbot_button_reply.action_type_id] }] },
                    { include_blank: "Select Action Type" },
                    { class: "form-select", required: true } %>
    </div>
    <div class="mb-3">
        <%= f.label :is_trigger, class: "form-label" %>
        <%= f.check_box :is_trigger, class: "form-check-input"%>
    </div>

    <div class="mb-3" id="trigger_keyword_field" style="<%= chatbot_button_reply.is_trigger ? '' : 'display: none;' %>">
        <%= f.label :trigger_keyword, class: "form-label" %>
        <%= f.text_field :trigger_keyword, class: "form-control" %>
    </div>


    <div class="mb-3">
        <%= f.submit "Update Reply Option", class: "btn btn-primary" %>
        <%= link_to "Back", edit_chatbot_chatbot_step_path(@chatbot, @chatbot_step), class: "btn btn-secondary" %>
    </div>
<% end %>

<script>
  document.addEventListener("turbo:load", function() {
    const triggerCheckbox = document.querySelector('#chatbot_button_reply_is_trigger');
    const triggerKeywordField = document.getElementById('trigger_keyword_field');

    triggerCheckbox.addEventListener('change', function() {
      triggerKeywordField.style.display = this.checked ? '' : 'none';
    });
  });
</script>
