<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2>Segments for <%= @master_segment.name %></h2>
          <%= link_to "New Segment", new_master_segment_segment_path(@master_segment), class: "btn btn-primary" %>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Persons Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Nationality</th>
                <th>User Response</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @segments.each do |segment| %>
                <tr>
                  <td><%= segment.person_name %></td>
                  <td><%= segment.mobile %></td>
                  <td><%= segment.person_email %></td>
                  <td><%= segment.nationality %></td>
                  <td><%= segment.user_response %></td>
                  <td>
                    <%= link_to "Edit", edit_master_segment_segment_path(@master_segment, segment.id), class: "btn btn-sm btn-primary" %>
                    <%= link_to "Delete", master_segment_segment_path(@master_segment, segment.id), 
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <%= paginate @segments %>
        </div>
      </div>
    </div>
  </div>
</div>
