<div>
  <p><strong>Person Name:</strong> <%= @segment.person_name %></p>
  <p><strong>Mobile:</strong> <%= @segment.mobile %></p>
  <p><strong>Person Email:</strong> <%= @segment.person_email %></p>
  <p><strong>Nationality:</strong> <%= @segment.nationality %></p>
  <p><strong>Response:</strong> <%= @segment.user_response %></p>
</div>

