<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3 class="mb-0">Broadcast Reports for <%= @broadcast.name %></h3>
    </div>
    <div class="card-body">

      <%= form_with url: broadcast_broadcast_reports_path(@broadcast), method: :get, local: true, class: "mb-4" do |f| %>
        <div class="form-group">
          <%= f.label :message_status, "Filter by Message Status" %>
          <%= f.select :message_status, [["All", ""]] + BroadcastReport.message_statuses.keys.map { |status| [status.humanize, status] }, { selected: @message_status }, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :response_status, "Filter by Response Status" %>
          <%= f.select :response_status, [["All", ""], ["Yes", "yes"], ["No", "no"]], {selected: @response_status}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Filter", class: "btn btn-primary my-3" %>
        </div>
      <% end %>

      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead >
            <tr>
              <th>Mobile Number</th>
              <th>Name</th>
              <th>Nationality</th>
              <th>Message Status</th>
              <th>Sent On</th>
              <th>Delivered On</th>
              <th>Seen On</th>
              <th>Reason for Failure</th>
              <th>Response</th>
              <th>Conversation</th>
            </tr>
          </thead>
          <tbody>
            <% @broadcast_reports.each do |report| %>
              <tr>
                <td><%= report.mobile %></td>
                <td><%= report.name %></td>
                <td><%= report.nationality %></td>
                <td><%= report.message_status %></td>
                <td><%= report.sent_on %></td>
                <td><%= report.delivered_on %></td>
                <td><%= report.seen_on %></td>
                <td><%= report.reason_for_failure %></td>
                <td><%= report.conversation_within_last_24_hours_of_report %></td>
                <td><%= link_to "Open", conversations_path(phone_number: report.mobile), class: "btn btn-primary"%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @broadcast_reports %>
      </div>
    </div>
  </div>
</div>
