<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2>Email Templates</h2>
          <%= link_to "Add New Email Template", new_email_template_path, class: "btn btn-primary float-end" %>
        </div>
        <div class="card-body">
          <% if notice.present? %>
            <div class="alert alert-success"><%= notice %></div>
          <% end %>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>HTML Preview / File</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @email_templates.each do |email_template| %>
                <tr>
                  <td><%= email_template.title %></td>
                  <td>
                    <% if email_template.html_file.attached? %>
                      <%= link_to email_template.html_file.filename,
                                  rails_blob_path(email_template.html_file, disposition: "attachment"),
                                  class: "btn btn-sm btn-outline-secondary" %>
                    <% else %>
                      <%= truncate(strip_tags(email_template.html), length: 60) %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to "Show", email_template_path(email_template), class: "btn btn-sm btn-info" %>
                    <%= link_to "Edit", edit_email_template_path(email_template), class: "btn btn-sm btn-primary" %>
                    <%= link_to "Delete", email_template_path(email_template),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                        class: "btn btn-sm btn-danger" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="d-flex justify-content-center mt-4">
          <%= paginate @email_templates %>
        </div>
      </div>
    </div>
  </div>
</div>
