<%= form_with(model: chatbot, local: true, class: "needs-validation") do |f| %>
    <%= render "shared_partials/error", model: chatbot %>

  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control", rows: 5, required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :master_segment_id, class: "form-label" %>
    <%= f.select :master_segment_id, MasterSegment.where(table_type_id: :master).map { |segment| [segment.name, segment.id] }, {prompt: "Select a Segment"}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
