<%= form_with(model: chatbot, local: true, class: "needs-validation") do |f| %>
    <%= render "shared_partials/error", model: chatbot %>

  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control", rows: 5, required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :select_valid_option, class: "form-label" %>
    <%= f.text_area :select_valid_option, class: "form-control", rows: 5, required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :is_default, class: "form-label" %>
    <%= f.check_box :is_default, class: "form-check-input" %>
  </div>

  <div class="mb-3">
    <%= f.label :master_segment_ids, class: "form-label" %>
    <div class="form-check d-flex flex-wrap gap-3">
      <%= f.collection_check_boxes :master_segment_ids, MasterSegment.where(is_deleted: false), :id, :name do |b| %>
        <div class="me-3">
          <%= b.check_box(class: "form-check-input") %>
          <%= b.label(class: "form-check-label") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
